/* Re-used variables */
:root {
    --text-colour: darkgrey;
    --primary-colour: white;
    --secondary-colour: lightgrey;
    --background-colour: #0b0c0f;
    --main-font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Page spacing */
body {
    background-color: var(--background-colour);
    color: var(--primary-colour);
    font-family: var(--main-font);
}

main {
    display: flex;
    gap: 16px;
}

.main-content {
    flex: 0 0 65%;
}

.wrapper {
    /* Wrapper for main page content */
    max-width: 800px;
    margin: 0 auto;
}

img {
    height: 1rem;
    margin: 9px 8px 0 0;
}

footer {
    text-align: center;
}

section, header, footer {
    padding: 0 0 0.5em;
}

/* Contact links */
.contact-link, .contacts {
    display: flex;
}

.contacts {
    gap: 8px;
}

.contact-text {
    margin: 8px 0;
}

/* Headings and text */
h1 {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    color: var(--primary-colour);
    margin-bottom: 10px;
}

h2 {
    font-size: 1.05rem;
    color: var(--primary-colour);
}

h3 {
    font-size: 1rem;
    color: var(--secondary-colour);
}

p, li {
    color: var(--text-colour);
}

a, a:visited {
    text-decoration: none;
    color: var(--secondary-colour);
}

a:hover {
    color: var(--primary-colour);
}