body {
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    display: block;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 72px;
}